.bg-theme {
  background: #1287a5;
}
.hero-background {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.about-background {
  min-height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.services-background {
  min-height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.btn-warning {
  padding: 8px 15px;
}
.underline {
  text-decoration: none;
}
.button {
  padding: 7px 40px;
  margin: 30px;
}
